
        * {
            padding:10px;
        }

        a {
            text-decoration:none;
            color:black;
            cursor:default;
        }

        #main {
            width:550px;
            height:230px;
            margin:35px auto;
            text-align:center;
            background-color:#bddd96 ;
            padding:15px;
        }

        .result {
             height:210px;
             width:550px;
             margin:10px auto;
             text-align:left;
        }

        button {
            margin:30px 0;
        }

        .graybg {
            padding:25px;
        }

        .err {
            width:450px;
            text-align:center;
            margin:0 auto;
            border-radius:5%;
            
        }

        p {
            text-align:center;
            width:70%;
            margin:0 auto;

        }
        h4 {
            text-align:center;
        }





